@import "tailwindcss";

main{
  background-image: url("../../public/assets/bg-light.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  min-height: 700px;
  padding: 0 15%;
  width: 100%
}